/* 숨기기 */
#wrap,
#u_skip,
#search_btn,
#rtk {
  display: none !important;
}

#header {
  z-index: initial !important;
}

/* 검색어 입력 창 중앙 정렬 */
#header .search_area {
  top: initial !important;
  left: 50% !important;
  margin: initial !important;
  transform: translate(-50%, -50%);
}

/* header 영역에서 하단 테두리 지우기 */
#header .special_bg {
  border-bottom: none !important;
  height: 292px !important;
}

/* header 요소의 하위 요소 중 불필요한 요소들을 전부 제거 (네이버 시작 페이지로, 쥬니어 네이버, 해피빈) */
.service_area {
  display: none;
}

/* NAVER 로고를 감싸고 있는 요소를 중앙 위치 */
#header .logo_default {
  transform: translate(-50%, -50%);
  left: 49% !important;
  top: 80% !important;
}
#header .logo_special {
  transform: translate(-50%, -50%);
  top: 65% !important;
  left: 49% !important;
  right: initial !important;
  bottom: initial !important;
}

/* 검색 창 input 요소의 테두리를 둥글게 */
#query,
#header .search_area .green_window {
  border-radius: 3rem !important;
}

/* 검색 창 마우스 hover, 클릭 시 그림자 */
#header .search_area .green_window:hover,
#header .search_area .green_window.window_focus {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28) !important;
}

#header .search_area .input_text {
  width: 504px !important;
  padding-left: 24px !important;
  font-weight: 500 !important;
}

#header .search_area .btn_keyboard {
  right: 24px !important;
}

.btn_more {
  display: none;
}

/* 네이버 서비스 GNB 바 가운데 정렬 */
#gnb .group_nav {
  display: flex !important;
  justify-content: center !important;
  padding: 11px 0 11px 0 !important;
}

@media (max-height: 760px) {
  #header .special_bg {
    height: 250px !important;
  }
}
